In [66]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

In [67]:
## Este ejercicio toma la data de "data_total_countries_xcolumna" para un modelo de clustering k-means
## Cargar el archivo data_total_countries 1.csv
country_df = pd.read_csv('data_total_country_xcolumna.csv')
country_df.head()

,Country Name,Region,Continent,"Agricultura, silvicultura y pesca, valor agregado_2015","Agricultura, silvicultura y pesca, valor agregado_2016","Agricultura, silvicultura y pesca, valor agregado_2017","Agricultura, silvicultura y pesca, valor agregado_2018","Agricultura, silvicultura y pesca, valor agregado_2019","Agricultura, silvicultura y pesca, valor agregado_2020","Agricultura, silvicultura y pesca, valor agregado_2021",...,"Trabajadores asalariados (empleados), total_2016","Trabajadores asalariados (empleados), total_2017","Trabajadores asalariados (empleados), total_2018","Trabajadores asalariados (empleados), total_2019","Trabajadores asalariados (empleados), total_2020","Trabajadores asalariados (empleados), total_2021","Trabajadores asalariados (empleados), total_2022","Trabajadores asalariados (empleados), total_2023",Trabajadores salud_2015,Trabajadores salud_2016
0,Afganistán,Southern Asia,Asia,20.634,25.740,26.420,22.043,25.774,29.976,33.598,...,16.175,17.359,16.981,16.458,15.666,17.732,17.799,18.283,NaN,NaN
1,Albania,Southern Europe,Europe,19.780,19.850,19.022,17.916,18.160,18.806,17.793,...,41.396,44.178,44.519,45.732,46.294,47.886,47.040,47.637,NaN,NaN
2,Alemania,Western Europe,Europe,0.709,0.730,0.861,0.743,0.834,0.729,0.742,...,89.473,89.713,90.081,90.424,91.125,91.152,91.151,91.373,NaN,NaN
3,Andorra,Southern Europe,Europe,0.513,0.522,0.560,0.546,0.523,0.559,0.532,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,Middle Africa,Africa,9.123,9.831,10.017,8.608,7.883,9.947,11.486,...,36.051,35.692,35.375,34.935,34.465,34.660,34.753,34.499,NaN,NaN

In [68]:
##country_df
# Crear un nuevo DataFrame para almacenar los valores más recientes de cada indicador
new_df_ind = country_df[['Country Name', 'Region', 'Continent']].copy()

# Obtener la lista de indicadores únicos
indicators = set(col.split('_')[0] for col in country_df.columns if '_' in col)

# Iterar sobre cada indicador
for indicator in indicators:
    # Filtrar las columnas correspondientes al indicador actual
    indicator_cols = [col for col in country_df.columns if col.startswith(indicator)]
    
    # Encontrar el valor más reciente para cada país
    new_df_ind[indicator] = country_df[indicator_cols].bfill(axis=1).iloc[:, 0]

# Mostrar el DataFrame filtrado con los valores más recientes de cada indicador
new_df_ind.head()

,Country Name,Region,Continent,Gasto investigación y desarrollo,Crecimiento población urbana,Exportaciones bienes y servicios (% del PIB),"Inflación, deflactor del PIB (%) anual",Personas desempleadas educación intermedia,Medicos (cada 1.000 personas),Tasa crecimiento prom. anualizada,...,Tierras cultivables,Personas desempleadas educación avanzada,PIB per capita US a precios actuales,Inversión extranjera directa,Empleados agricultura - mujeres,"Empleo vulnerable, total",Nuevas empresas registradas (numero),Empleos agricultura,"Desempleo, total",Pago de impuestos (numero)
0,Afganistán,Southern Asia,Asia,NaN,3.995,10.421,2.448,16.155,0.291,NaN,...,11.905,15.460,565.570,0.884,66.072,82.841,2255.0,44.297,11.184,19.0
1,Albania,Southern Europe,Europe,NaN,1.485,27.267,0.564,20.502,1.219,3.96,...,22.449,19.276,3952.804,8.691,47.636,56.451,2567.0,41.283,17.193,34.0
2,Alemania,Western Europe,Europe,2.934,0.879,42.604,1.685,4.231,4.120,2.43,...,33.956,2.263,41911.011,1.823,0.954,5.846,69384.0,1.394,4.612,9.0
3,Andorra,Southern Europe,Europe,NaN,-2.252,NaN,0.661,NaN,3.626,NaN,...,1.723,NaN,38654.935,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,Middle Africa,Africa,0.032,4.738,29.755,-3.518,30.351,0.212,NaN,...,4.111,18.604,3213.903,11.081,67.783,58.843,23342.0,56.796,16.497,32.0

In [69]:
# Guardar el DataFrame filtrado en un archivo CSV
#new_df_ind.to_csv('filtered_data.csv', index=False)

In [70]:
# Filtrar la columna "Continent" para incluir solo "Europe" y "America"
filtered_df = new_df_ind[new_df_ind['Continent'].isin(['Europe', 'South America', 'North America'])]

In [71]:
# Contar el número de valores faltantes en cada columna
conteo_nulos = filtered_df.isnull().sum()
print(conteo_nulos)

Country Name                                          0
Region                                                1
Continent                                             0
Gasto investigación y desarrollo                     23
Crecimiento población urbana                          1
Exportaciones bienes y servicios (% del PIB)         12
Inflación, deflactor del PIB (%) anual                2
Personas desempleadas educación intermedia            9
Medicos (cada 1.000 personas)                         7
Tasa crecimiento prom. anualizada                    23
Desempleo hombres                                    10
Desempleo mujeres                                    10
Tecnicos investigación y desarrollo                  45
Empleados agricultura - hombres                      10
Exportaciones de bienes y servicios(% anual)         15
Comercio servicios                                    4
Crecimiento PIB per capita                            2
Contaminación aire                                    7
Trabajadores asalariados (empleados), total          10
Indice facilidad para hacer negocios                  6
Personas desempleadas educación basica                9
Cobertura de beneficios por desempleo y los ALMP     62
Empleadores, total                                   10
Agricultura, silvicultura y pesca, valor agregado     2
Trabajadores salud                                   79
Tierras cultivables                                   3
Personas desempleadas educación avanzada              9
PIB per capita US a precios actuales                  1
Inversión extranjera directa                          5
Empleados agricultura - mujeres                      10
Empleo vulnerable, total                             10
Nuevas empresas registradas (numero)                 12
Empleos agricultura                                  10
Desempleo, total                                      7
Pago de impuestos (numero)                            5
dtype: int64

In [72]:
#Columnas a eliminar
cols_to_drop = ['Gasto investigación y desarrollo',
                'Tecnicos investigación y desarrollo',
                'Tasa crecimiento prom. anualizada ',
                'Cobertura de beneficios por desempleo y los ALMP ',
                'Exportaciones bienes y servicios (% del PIB)',
                'Exportaciones de bienes y servicios(% anual)',
                'Trabajadores salud']
filtered_df = filtered_df.drop(cols_to_drop, axis=1) ##

In [ ]:
# Contar el número de valores faltantes en cada columna
conteo_nulos = filtered_df.isnull().sum()
print(conteo_nulos)

In [74]:
print(filtered_df.columns)

Index(['Country Name', 'Region', 'Continent', 'Crecimiento población urbana',
       'Inflación, deflactor del PIB (%) anual',
       'Personas desempleadas educación intermedia',
       'Medicos (cada 1.000 personas)', 'Desempleo hombres',
       'Desempleo mujeres', 'Empleados agricultura - hombres',
       'Comercio servicios', 'Crecimiento PIB per capita',
       'Contaminación aire', 'Trabajadores asalariados (empleados), total',
       'Indice facilidad para hacer negocios',
       'Personas desempleadas educación basica', 'Empleadores, total',
       'Agricultura, silvicultura y pesca, valor agregado',
       'Tierras cultivables', 'Personas desempleadas educación avanzada',
       'PIB per capita US a precios actuales', 'Inversión extranjera directa',
       'Empleados agricultura - mujeres', 'Empleo vulnerable, total',
       'Nuevas empresas registradas (numero)', 'Empleos agricultura',
       'Desempleo, total', 'Pago de impuestos (numero)'],
      dtype='object')

In [ ]:
# Contar el número de valores faltantes en cada columna
conteo_nulos = new_df_ind.isnull().sum()

print(conteo_nulos)

In [ ]:
#guardar el archivo como filtered_data_v2.csv
filtered_df.to_csv('data_total_country_resumido.csv', index=False)

In [73]:
# Reemplazar los valores nulos por cero en todo el dataset
filtered_df.fillna(0, inplace=True)

In [ ]:
# Seleccionar las variables relevantes
features = [

    
    
    'Crecimiento población urbana',
    'Inflación, deflactor del PIB (%) anual',
    'Personas desempleadas educación intermedia',
    'Desempleo hombres',
    'Desempleo mujeres', 
    'Empleados agricultura - hombres',
    'Comercio servicios', 
    'Crecimiento PIB per capita',
    'Contaminación aire', 
    'Trabajadores asalariados (empleados), total',
    'Indice facilidad para hacer negocios',
    'Personas desempleadas educación basica', 
    'Empleadores, total',
    'Agricultura, silvicultura y pesca, valor agregado',
    'Tierras cultivables', 
    'Personas desempleadas educación avanzada',
    'PIB per capita US a precios actuales', 
    'Inversión extranjera directa',
    'Empleados agricultura - mujeres', 
    'Empleo vulnerable, total',
    'Empleos agricultura',
    'Desempleo, total', 
    'Pago de impuestos (numero)']
    
    
    
    
    
    
    
    
    
    
]
X = filtered_df[features]

In [ ]:
# Normalizar los datos
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [ ]:
# Determinar el número óptimo de clusters usando el método del codo
wcss = []
for i in range(1, 11):
    kmeans = KMeans(n_clusters=i, random_state=42)
    kmeans.fit(X_scaled)
    wcss.append(kmeans.inertia_)

plt.plot(range(1, 11), wcss)
plt.title('Método del Codo')
plt.xlabel('Número de Clusters')
plt.ylabel('WCSS')
plt.show()

In [ ]:
from sklearn.metrics import silhouette_score

# Calcular el Silhouette Score para diferentes números de clusters
silhouette_scores = []
for i in range(2, 11):
    kmeans = KMeans(n_clusters=i, random_state=42)
    cluster_labels = kmeans.fit_predict(X_scaled)
    silhouette_avg = silhouette_score(X_scaled, cluster_labels)
    silhouette_scores.append(silhouette_avg)

plt.plot(range(2, 11), silhouette_scores)
plt.title('Silhouette Score')
plt.xlabel('Número de Clusters')
plt.ylabel('Silhouette Score')
plt.show()

# Seleccionar el número óptimo de clusters basado en el Silhouette Score más alto
optimal_clusters = silhouette_scores.index(max(silhouette_scores)) + 2
print(f"El número óptimo de clusters basado en el Silhouette Score es: {optimal_clusters}")

In [ ]:
# Aplicar K-Means con el número óptimo de clusters (por ejemplo, k=3)
kmeans = KMeans(n_clusters=7, random_state=42)
clusters = kmeans.fit_predict(X_scaled)

# Añadir los clusters al DataFrame original
filtered_df['Cluster'] = clusters

In [ ]:
# Guardar el DataFrame con los clusters
filtered_df.to_csv('clustered_countries_v2.csv', index=False)